<div class="editSkill-background">
    <video muted autoplay loop>
      <source src="../assets/img/VideoPortadaPortfolio3.mp4" type="video/mp4">
      <source src="../assets/img/VideoPortadaPortfolio3.ogg" type="video/ogg">
        Tu navegador no es compatible con videos HTML5
      </video>
    <div class="editSkill-box">
      <a class="goBack" href="#">←</a>
        <h2>Editar Skill</h2>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" autocomplete="off">
            <div class="editSkillInput-box">
                <input type="text" id="nombreSkill" name="nombreSkill" [(ngModel)]="skill.nombreSkill" required>
                <label for="nombreSkill">Nombre de la habilidad</label>
            </div> 
            <div class="editSkillInput-box">
                <input type="text" id="porcenSkill" name="porcenSkill" [(ngModel)]="skill.porcenSkill" required>
                <label for="porcenSkill">Porcentaje de habilidad</label>
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Guardar
              </button>
        </form>
      </div>
</div>
