<div class="newSkill-background">
    <video muted autoplay loop>
      <source src="../assets/img/VideoPortadaPortfolio3.mp4" type="video/mp4">
      <source src="../assets/img/VideoPortadaPortfolio3.ogg" type="video/ogg">
        Tu navegador no es compatible con videos HTML5
      </video>
    <div class="newSkill-box">
        <h2>Agregar Skill</h2>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm" autocomplete="off">
            <div class="newSkillInput-box">
                <input type="text" id="nombreSkill" name="nombreSkill" [(ngModel)]="nombreSkill" required>
                <label for="nombreSkill">Nombre de la habilidad</label>
            </div> 
            <div class="newSkillInput-box">
                <input type="text" id="porcenSkill" name="porcenSkill" [(ngModel)]="porcenSkill" required>
                <label for="porcenSkill">Porcentaje de habilidad</label>
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Guardar
              </button>
        </form>
      </div>
</div>
