<div class="containerSkills">
    <div class="skillCard">
        <div class="rating">70</div>
        <div class="rating-mask"></div>
        <h4>HTML/CSS</h4>
    </div>
    <div class="skillCard">
        <div class="rating">50</div>
        <div class="rating-mask"></div>
        <h4>Angular</h4>
    </div>
    <div class="skillCard">
      <div>
        <div class="rating">25</div>
        <div class="rating-mask"></div>
      </div>
        <h4>JavaScript</h4>
    </div>
    <div class="skillCard">
      <div>
        <div class="rating">75</div>
        <div class="rating-mask"></div>
      </div>
        <h4>Photoshop</h4>
    </div>
    <div class="skillCard">
        <div class="rating">95</div>
        <div class="rating-mask"></div>
        <h4>Illustrator</h4>
    </div>
</div>
