.containerSkills {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 200px 50px 200px;
}

.skillCard {
    padding: 0 50px;
    text-align: center;
    --rating-size: 80px;
    --bar-size: 12px;
}

.skillCard h4 {
    position: relative;
    top: -4.5vw;
    letter-spacing: 1px;
}

@media all and (min-width: 768px) {

    .skillCard {
        --rating-size: 100px;
        --bar-size: 12px;
    }

    .rating {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        overflow: hidden;
        background: var(--celeste);
        color: var(--celeste);
        width: var(--rating-size);
        height: var(--rating-size);
        z-index: 2;
    }

    /* Bar background */

    .rating-mask {
        position: relative;
        bottom: var(--rating-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        overflow: hidden;
        background: var(--grisMedio);
        color: var(--celeste);
        width: var(--rating-size);
        height: var(--rating-size);
        z-index: 1;
    }
  
    /* Bar mask, creates an inner circle with the same color as thee background */

    .rating::after {
        content: "";
        position: absolute;
        top: var(--bar-size);
        right: var(--bar-size);
        bottom: var(--bar-size);
        left: var(--bar-size);
        background: var(--grisOscuro);
        border-radius: inherit;
        z-index: 2;
    }

    /* Classes to give different colors to ratings, based on their score */

    .rating.good {
        background: var(--rating-color-good);
        color: var(--rating-color-good);
    }
  
    .rating.meh {
        background: var(--rating-color-meh);
        color: var(--rating-color-meh);
    }
  
    .rating.bad {
        background: var(--rating-color-bad);
        color: var(--rating-color-bad);
    }
}

/* Default screen size (1280-1024) */

@media all and (min-width: 1024px) and (max-width: 1280px) {

    .skillCard {
        padding: 0 40px;
        text-align: center;
        --rating-size: 130px;
        --bar-size: 18px;
    }

    .skillCard h4 {
        position: relative;
        top: -90px;
        letter-spacing: 1px;
    }
}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .skillCard {
        padding: 0 30px;
        text-align: center;
        --rating-size: 100px;
        --bar-size: 12px;
    }

    .skillCard h4 {
        position: relative;
        top: -6.5vw;
        letter-spacing: 1px;
        font-size: 15px;
    }
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .skillCard {
        padding: 0 20px;
        text-align: center;
        --rating-size: 80px;
        --bar-size: 10px;
    }

    .skillCard h4 {
        position: relative;
        top: -6.5vw;
        letter-spacing: 1px;
        font-size: 12px;
    }
 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    .containerSkills {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
        left: 0;
    }

    .skillCard {
        --rating-size: 100px;
        --bar-size: 12px;
        padding: 20px 0;
        text-align: left;
    }

    .skillCard h4 {
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: small;
    }

    .rating {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: var(--celeste);
        color: transparent;
        width: var(--rating-size);
        height: 10px;
        z-index: 2;
    }

    /* Bar background */

    .rating-mask {
        display: none;
    }
  
    /* Bar mask, creates an inner circle with the same color as thee background */

    .rating::after {
        content: "";
        position: absolute;
        top: var(--bar-size);
        right: var(--bar-size);
        bottom: var(--bar-size);
        left: var(--bar-size);
        background: var(--grisOscuro);
        border-radius: inherit;
        z-index: 2;
    }
 }