 <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="4"
    [coverflowEffect]="{
      rotate: 30,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: false
    }"
    [pagination]="false"
    
    class="mySwiper"
  >

    <ng-template swiperSlide>
        <div class="projectCard">
            <img src="../assets/img/DiseñoWebMR.jpg" alt="">
            <h4>Mi Portfolio</h4>
            <h5>2022</h5>
            <p></p>
            <a href="">www.mrcontrucciones.com.ar</a>
            <button>Ver más</button>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="projectCard">
            <img src="../assets/img/DiseñoWebMR.jpg" alt="">
            <h4>Mi Portfolio</h4>
            <h5>2022</h5>
            <p></p>
            <a href="">www.mrcontrucciones.com.ar</a>
            <button>Ver más</button>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="projectCard">
            <img src="../assets/img/DiseñoWebMR.jpg" alt="">
            <h4>Mi Portfolio</h4>
            <h5>2022</h5>
            <p></p>
            <a href="">www.mrcontrucciones.com.ar</a>
            <button>Ver más</button>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="projectCard">
            <img src="../assets/img/DiseñoWebMR.jpg" alt="">
            <h4>Mi Portfolio</h4>
            <h5>2022</h5>
            <p></p>
            <a href="">www.mrcontrucciones.com.ar</a>
            <button>Ver más</button>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="projectCard">
            <img src="../assets/img/DiseñoWebMR.jpg" alt="">
            <h4>Mi Portfolio</h4>
            <h5>2022</h5>
            <p></p>
            <a href="">www.mrcontrucciones.com.ar</a>
            <button>Ver más</button>
        </div>
    </ng-template>
  </swiper> 

