<header>
    <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/img/APLogo.png" alt="Logo Argentina Programa" class="apLogo"></a>
    <div>
        <a href="https://www.linkedin.com/in/florencia-collosso/"><img src="../../../assets/icons/linkedin-in.svg" alt="Link to Linkedin" class="fa linkedin" target="_blank" rel="noopener noreferrer"></a>
        <a href="https://www.instagram.com/kllosso/"><img src="../../../assets/icons/instagram.svg" alt="Link to Instagram" class="fa instagram" target="_blank" rel="noopener noreferrer"></a>
        <a href="">Login</a>
    </div>
</header>
