.coverTitle {
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.cover video {
    width: fit-content;
}

.coverTitle h2 { 
    font-size: 16vw;
    font-family: aileron, sans-serif;
    font-weight: 800;
    text-align: left;    
}

.cover {
    height: fit-content;
    overflow: hidden;
}

/* For screen size (+ 1440) */

@media all and (min-width: 1440px) {
    .cover video {
        object-fit: cover;
        height: 60vw;
    }

    .cover {
        height: 60vw;
    }
}

/* Default screen size (1440-1024) */

@media all and (min-width: 1024px) and (max-width: 1440px) {

    .apLogo {
        padding: 25px 40px;
    }

    .cover video {
        object-fit: cover;
    }

    .cover {
        height: 60vw;
    }
}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .coverTitle h2 { 
        font-size: 22vw;    
    }

    .cover video {
        object-fit: cover;
    }

    .cover {
        height: 100vw;
    }
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .coverTitle h2 { 
        font-size: 25vw;    
    }

    .cover video {
        position: absolute;
    }

    .cover {
        height: 140vw;
    }
    
 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    .cover {
        height: 220vw;
    }

    .coverTitle h2 { 
        font-size: 25vw;    
    }

    .cover video {
        object-fit: cover;
    }
    
 }