<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/lux5ziu.css">
    <title>Document</title>
</head>
<body>

    <app-header></app-header>

    <!-- Portada -->

    <app-cover></app-cover>

    <!-- About  -->

    <app-about></app-about>

    <!-- Works -->

    <app-works></app-works>
  
    <!-- Projects -->

    <app-projects></app-projects>

    <!-- Skills -->

    <app-skills></app-skills>

    <!-- Education -->

    <app-education></app-education>

    <!-- Footer -->

    <app-footer></app-footer>

</body>
</html>