@import "swiper/swiper.min.css";
@import "swiper/modules/navigation/navigation.min.css";

section {
    display: flex;
    flex-direction: column;
}

.buttonAdd {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    position: absolute;
    right: 6vw;
    z-index: 2;
}

.buttonAdd:hover {
    transition: .2s ease-in;
    transform: scale(1.2);
}

.buttonAdd img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.eduButtons {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: flex-end;
}

.eduButtons img{
    height: 20px;
    cursor: pointer;
}

.eduButtons button {
    height: 40px;
    width: 40px;
    background: transparent;
    cursor: pointer;
    border: none;
    margin: 0 5px;
}

.eduButtons button:hover {
    transition: .2s ease-in;
    transform: scale(1.2);
}

.containerEdu {
    position: relative;
    left: 0;
    justify-items: center;
}

.swiperEducation {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 100px;
    --diameter: 300px;
}

.swiperSlideEducation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    margin: 80px 0 200px 0;
}

.cardEdu {
    text-align: center;
    max-width: 480px;
}

.cardEdu img {
    object-fit: cover;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 100%;
    cursor: grab;
}

.swiperSlideEducation h4 {
    font-size: 28px;
    margin: 20px 50px;
    letter-spacing: 1px;
    padding-top: 15px;
    color: whitesmoke;
}

.swiperSlideEducation h5 {
    color: var(--celeste);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px; 
}

.swiperEducation .swiper-button-prev,
.swiperEducation .swiper-button-next {
    transform: scale(.8);
    color: #fff !important;
    position: absolute !important;
    top: 40% !important;
}

.swiper-button-next {
    display: none;
}
  
.swiper:hover .swiper-button-next {
    display: block;
}

.swiper-button-prev {
    display: none;
}
  
.swiper:hover .swiper-button-prev {
    display: block;
}


/* Default screen size (1440-1024) */

@media all and (min-width: 1024px) and (max-width: 1440px) {
    
    .swiperEducation {
        margin-top: 100px;
        --diameter: 200px;
    }

    .swiperSlideEducation{
        margin: 0 0 120px 0;
    }

    .swiperSlideEducation h4 {
        font-size: 24px;
        margin: 8px 20px;
    }
    
    .swiperSlideEducation h5 {
        font-size: 15px; 
    }

    .swiper-button-next {
        margin-right: 20px;
        top: 40% !important;
    }

    .swiper-button-next:after {
        font-size: 40px !important;

    }
    
    .swiper-button-prev {
        margin-left: 20px;
        top: 40% !important;
    }

    .swiper-button-prev:after {
        font-size: 40px !important;

    }
}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .swiperEducation {
        margin-top: 100px;
        --diameter: 140px;
    }

    .swiperSlideEducation{
        margin: 0 0 120px 0;
    }

    .swiperSlideEducation h4 {
        font-size: 18px;
        margin: 8px 20px;
    }
    
    .swiperSlideEducation h5 {
        font-size: 12px; 
    }

    .swiper-button-next {
        margin-right: 10px;
    }

    .swiper-button-next:after {
        font-size: 30px !important;

    }
    
    .swiper-button-prev {
        margin-left: 10px;
    }

    .swiper-button-prev:after {
        font-size: 30px !important;

    }
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .swiperEducation {
        margin-top: 70px;
        --diameter: 120px;
    }

    .swiperSlideEducation{
        margin: 0 0 100px 0;
    }

    .swiperSlideEducation h4 {
        font-size: 16px;
        margin: 8px 20px;
    }
    
    .swiperSlideEducation h5 {
        font-size: 10px; 
    }

    .swiper-button-next {
        margin-right: 10px;
    }

    .swiper-button-next:after {
        font-size: 30px !important;

    }
    
    .swiper-button-prev {
        margin-left: 10px;
    }

    .swiper-button-prev:after {
        font-size: 30px !important;

    }

    

 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    .swiperEducation {
        margin-top: 70px;
        --diameter: 110px;
    }

    .swiperSlideEducation{
        margin: 30px 0 60px 0;
    }

    .swiperSlideEducation h4 {
        font-size: 12px;
        margin: 3px 20px;
    }
    
    .swiperSlideEducation h5 {
        font-size: 8px; 
    }

    .swiperEducation .swiper-button-prev,
    .swiperEducation .swiper-button-next {
        transform: scale(.8);
        color: #fff !important;
        position: absolute !important;
        top: 50% !important;
}

    .swiper-button-next:after {
        font-size: 25px !important;

    }
    
    .swiper-button-prev:after {
        font-size: 25px !important;

    }

    .buttonAdd {
        width: 40px;
        height: 40px;
        margin-top: 0;
        z-index: 2;
    }

    .eduButtons {
        margin-top: 20px;
    }
    
    .eduButtons img{
        height: 13px;
        cursor: pointer;
    }
    
    .eduButtons button {
        height: 20px;
        width: 20px;
        margin: 0 5px;
    }
 }