<section>
  <button class="buttonAdd" type="button" routerLink="/nuevopro" *ngIf="isLoggedIn"><img src="../../../assets/icons/plus-solid.svg" alt="Botón agregar"></button>
  <swiper
      [effect]="'coverflow'"
      [grabCursor]="true"
      [centeredSlides]="true"
      [initialSlide]="1"
      [slideToClickedSlide]="true"
      [slidesPerView]="4"
      [coverflowEffect]="{
        rotate: 30,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: false
      }"
      [pagination]="false"
      
      class="swiperProjects"
      #swiperProjects
    >
  
      <ng-template swiperSlide class="swiperSlideProjects" *ngFor="let Projects of pro">
          <div class="projectCard">
              <div class="cardImg">
                  <img [src]="Projects.imgPro">
              </div>
              <div class="cardInfo">
                  <h4>{{Projects.tituloPro}}</h4>
                  <h5>{{Projects.fechaPro}}</h5>
                  <p>{{Projects.descPro}}</p>
                  <hr>
                  <a [href]="Projects.urlPro">{{Projects.urlPro}}</a>
              </div>
              <div class="proButtons" *ngIf="isLoggedIn">
                  <button class="buttonEdit"><img src="../../../assets/icons/pen-solid.svg" alt="Botón editar" routerLink="/editpro/{{Projects.id}}"></button> 
                  <button class="buttonDelete"><img src="../../../assets/icons/trash-solid.svg" alt="Botón borrar" (click)="delete(Projects.id)"></button> 
              </div>
          </div>
      </ng-template>
  </swiper> 
</section>


