@import "swiper/swiper.min.css";
@import "swiper/modules/pagination/pagination.min.css";
@import "swiper/swiper-bundle.css";

.swiperProjects {
   height: 850px;
   width: 100%;
   margin-top: 5vw;
}

.projectCard {
    background: rgba(92, 91, 91, 0.3);
    width: 440px;
    height: 600px; 
    padding: 30px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 50px;
    border: solid 1px rgba(255, 255, 255, .2);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .1);
    text-align: left;
    transition: all 300ms;
    margin-top: 15px;
}

.projectCard:hover {
    transform: translateY(-8px);
}

.cardImg {
    overflow: hidden;
    width: 440px;
    height: 300px;
    border-radius: 5%;
}

.cardInfo {
    height: 260px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.swiperSlideProjects {
    display:flex;
    justify-content:center;
}

.swiperSlideProjects img {
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.projectCard:hover img {
    transform: scale(1.01);
} 

.swiperSlideProjects h4 {
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    text-align: left;
}

.swiperSlideProjects h5 {
    font-size: 22px;
    color: darkgrey;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.swiperSlideProjects p {
    font-size: 20px;
    color: #fff;
    text-align: left;
    font-weight: 100;
}

.swiperSlideProjects a {
    font-size: 18px;
    letter-spacing: 1px;
    color: darkgrey;
    font-weight: 300;
}

.swiperSlideProjects hr {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    height: 1px;
    background: rgba(255, 255, 255, .2);
}

/* Tamaño por defecto pantallas (1280-1024) */

@media all and (min-width: 1024px) and (max-width: 1280px) {

    .swiperProjects {
        height: 700px;
        margin-top: 5vw;
     }

    .projectCard {
        width: 340px;
        height: 500px;
        padding: 25px;
        border-radius: 40px;
    }

    .cardImg {
        width: 340px;
        height: 230px;
    }

    .cardInfo {
        height: 240px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .swiperSlideProjects h4 {
        font-size: 28px;
    }
    
    .swiperSlideProjects h5 {
        font-size: 20px;
    }
    
    .swiperSlideProjects p {
        font-size: 18px;
    }
    
    .swiperSlideProjects a {
        font-size: 16px;
    }
}

/* Tamaño tablet horizontal (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .swiperProjects {
        height: 550px;
        margin-top: 4.5vw;
     }

    .projectCard {
        width: 280px;
        height: 390px;
        padding: 25px;
        border-radius: 30px;
    }

    .cardImg {
        width: 280px;
        height: 180px;
    }

    .cardInfo {
        height: 180px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .swiperSlideProjects h4 {
        font-size: 22px;
    }
    
    .swiperSlideProjects h5 {
        font-size: 16px;
    }
    
    .swiperSlideProjects p {
        font-size: 14px;
    }
    
    .swiperSlideProjects a {
        font-size: 12px;
    }
}

 /* Tamaño tablet (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .swiperProjects {
        height: 450px;
        margin-top: 4vw;
     }

    .projectCard {
        width: 200px;
        height: 305px;
        padding: 18px;
        border-radius: 25px;
    }

    .cardImg {
        width: 200px;
        height: 130px;
    }

    .cardInfo {
        height: 160px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .swiperSlideProjects h4 {
        font-size: 19px;
    }
    
    .swiperSlideProjects h5 {
        font-size: 14px;
    }
    
    .swiperSlideProjects p {
        font-size: 12px;
    }
    
    .swiperSlideProjects a {
        font-size: 10px;
    }
 }
  
 /* Tamaño teléfonos (480-menos ) */

 @media all and (max-width: 480px) { 

    .swiperProjects {
        height: 300px;
        margin-top: 4vw;
     }

    .projectCard {
        width: 120px;
        height: 200px;
        padding: 10px;
        border-radius: 16px;
    }

    .cardImg {
        width: 120px;
        height: 80px;
    }

    .cardInfo {
        height: 110px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .swiperSlideProjects h4 {
        font-size: 12px;
    }
    
    .swiperSlideProjects h5 {
        font-size: 9px;
    }
    
    .swiperSlideProjects p {
        font-size: 7px;
    }
    
    .swiperSlideProjects a {
        font-size: 5px;
    }
 }