@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --hueso: #f1f1f1;
    --rosa: #ac576c;
    --rosaClaro: #f1d1d1;
    --verdeOscuro: #224b0c;
    --grisOscuro: #141414;
    --grisMedio: #2c2c2c;
    --celeste: #a9e0dc;
    --oscuridad: #1d1c1c;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    background: #fff;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

hr {
    background: var(--celeste);
    height: 3px;
    border: 0;
    width: 50px;
    position: relative;
    top: -115px;
    left: 128px;
}

/* Header */

header {
    color: #fff;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header img {
    display:block;
}

header div {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    width: 180px;
    align-items: center;
}

.apLogo {
    padding: 10px 50px;
    width: 200px;
}

.cover video {
    position: relative;
    top: 0;
    width: 100%;
    
}

.coverTitle {
    position: absolute;
    z-index: 1;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.coverTitle h2 {
    color: #fff; 
    font-size: 13em;
    font-family: aileron, sans-serif;
    font-weight: 800;
    text-align: left;    
}

.coverTitle h1 {
    color: #fff;
    position: relative;
    font-size: 3.22em;
    font-weight: 200;
    bottom: 30px;
}

.fa {
    width: 20px;
}

/* About */

.about {
    padding: 80px 0;
}

.titleAbout {
    width: 70%;
    margin: auto;
}

.titleAbout h3 {
    position: relative;
    top: -115px;
    left: 120px;
    font-size: 2em;
}

.titleAbout h2 {
    color: var(--hueso);
    font-size: 13em;
    font-family: aileron, sans-serif;
    font-weight: 800;
}

.titleAbout hr {
    background: var(--rosa);
}

.infoProfile {
    text-align: center;
    width: 50%;
    margin: auto;
}

.circleDiv {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 15px;
}

.profileImg {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}

.textInfoProfile {
    margin-top: 50px;
}

.textInfoProfile h1 {
    font-weight: 200;
    font-size: 2.8em;
    margin-bottom: 10px;
}

.textInfoProfile h4 {
    color: var(--rosa);
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.textInfoProfile p {
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 60px;
}

.textInfoProfile img {
    width: 80px;
}

/* works */

.works {
    background: var(--grisOscuro);
    color: #fff;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
}

.titleWorks {
    width: 70%;
    margin: 0 auto 50px auto;
}

.titleWorks h2 {
    color: var(--grisMedio);
    font-size: 13em;
    font-family: aileron, sans-serif;
    font-weight: 800;
}

.titleWorks h3 {
    position: relative;
    top: -115px;
    left: 125px;
    font-size: 2em;
}

.containerWork img {
    width: 100%;
    height: 100%;
    transition: all .7s ease;
    opacity: 1;
}

.containerWork:hover img {
    opacity: 0;
  }

.divWorks {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.containerWork {
    overflow: hidden;
    height: 16vw;
    width: 25%;
    position: relative;
    margin: 10px;
}

.textContainerWork {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    padding: 20px 30px;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .6s ease;
    opacity: 0;
  }
  
.containerWork:hover .textContainerWork {
    transition: all 1s ease;
    transition-delay: 0.5s;
    opacity: 1;
  }

.t-stroke {
    -webkit-text-stroke: 3px var(--rosa);
    color: transparent;
    font-size: 5em;
    font-family: aileron, sans-serif;
    font-weight: 800;
    position: relative;
    top: 5px;
    left: 0;
}

.t-stroke span {
    -webkit-text-stroke: 3px var(--rosaClaro);
    font-family: aileron, sans-serif;
    position: relative;
    left: -50%;
    top: -5px;
}

.textContainerWork h4 {
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 5px;
}

.textContainerWork h5 {
    color: var(--celeste);
    font-size: .8em;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 8px;
}

.textContainerWork li {
    list-style-type: none;
    padding-bottom: 4px;
}

/* education */

.education {
    background-image: url("assets/img/BackgroundEducation.jpg");
    background-color: var(--grisOscuro);
    background-size: cover;
}

.educationCover {
    background: rgb(20,20,20);
    background: linear-gradient(180deg, rgba(20,20,20,1) 10%, rgba(20,20,20,.7) 30%, rgba(20,20,20,.1) 50%, rgba(20,20,20,.7) 70%, rgba(20,20,20,1) 100%);
    height: 50vw;
}

.titleEducation {
    width: 70%;
    margin: auto;
    text-align: left;
}

.titleEducation h2 {
    color: rgba(255, 255, 255, .1);
    font-size: 13em;
    font-family: aileron, sans-serif;
    font-weight: 800;
}

.titleEducation h3 {
    color: #fff;
    position: relative;
    top: -115px;
    left: 140px;
    font-size: 2em;
}

.titleEducation hr {
    position: relative;
    left: 512px;
}

.cardsEdu {
    color: #fff;
    margin: 70px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cardEdu {
    padding: 0 100px;
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.cardsEdu img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
}

.cardsEdu h4, .cardEdu h5 {
    position: relative;
    top: 30px;
    padding: 5px; 
}

.cardsEdu h5 {
    color: var(--celeste);
    font-weight: 100;
    letter-spacing: 1px;
}

.cardsEdu h4 {
    font-size: 1.5em;
}

/* Skills */

.titleSkills {
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

.titleSkills h3 {
    color: #fff;
    position: relative;
    top: -115px;
    left: 120px;
    font-size: 2em;
}

.titleSkills h2 {
    color: var(--grisMedio);
    font-size: 13em;
    font-family: aileron, sans-serif;
    font-weight: 800;
}

.titleSkills hr {
    left: 121px;
}

.skills {
    background: var(--grisOscuro);
}

.containerSkills {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 200px 150px 200px;
}

.skillCard {
    padding: 0 50px;
    text-align: center;
}

.skillCard h4 {
    margin-top: 30px;
    letter-spacing: 1px;
}

.progress {
    --diameter: 150px;
    --stroke: 20px;
    background: var(--grisMedio);
    border-radius: 50%;
    height: var(--diameter);
    width: var(--diameter);
    position: relative;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.progress__mask, .progress__fill {
    border-radius: 50%;
    clip: rect(0, var(--diameter), var(--diameter), calc(var(--diameter) / 2));
    height: var(--diameter);
    width: var(--diameter);
    overflow: hidden;
    position: absolute;
}
.progress__fill {
    background: var(--celeste);
    clip: rect(0, calc(var(--diameter) / 2), var(--diameter), 0);
}
.progress:after {
    position: absolute;
    content: attr(data-progress);
    background: var(--grisOscuro);
    border-radius: 50%;
    display: flex;
    bottom: var(--stroke);
    top: var(--stroke);
    left: var(--stroke);
    right: var(--stroke);
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 1.5rem;
}
.progress[data-progress="1"] .progress__mask--full, .progress[data-progress="1"] .progress__fill {
    transform: rotate(1.8deg);
}
.progress[data-progress="2"] .progress__mask--full, .progress[data-progress="2"] .progress__fill {
    transform: rotate(3.6deg);
}
.progress[data-progress="3"] .progress__mask--full, .progress[data-progress="3"] .progress__fill {
    transform: rotate(5.4deg);
}
.progress[data-progress="4"] .progress__mask--full, .progress[data-progress="4"] .progress__fill {
    transform: rotate(7.2deg);
}
.progress[data-progress="5"] .progress__mask--full, .progress[data-progress="5"] .progress__fill {
    transform: rotate(9deg);
}
.progress[data-progress="6"] .progress__mask--full, .progress[data-progress="6"] .progress__fill {
    transform: rotate(10.8deg);
}
.progress[data-progress="7"] .progress__mask--full, .progress[data-progress="7"] .progress__fill {
    transform: rotate(12.6deg);
}
.progress[data-progress="8"] .progress__mask--full, .progress[data-progress="8"] .progress__fill {
    transform: rotate(14.4deg);
}
.progress[data-progress="9"] .progress__mask--full, .progress[data-progress="9"] .progress__fill {
    transform: rotate(16.2deg);
}
.progress[data-progress="10"] .progress__mask--full, .progress[data-progress="10"] .progress__fill {
    transform: rotate(18deg);
}
.progress[data-progress="11"] .progress__mask--full, .progress[data-progress="11"] .progress__fill {
    transform: rotate(19.8deg);
}
.progress[data-progress="12"] .progress__mask--full, .progress[data-progress="12"] .progress__fill {
    transform: rotate(21.6deg);
}
.progress[data-progress="13"] .progress__mask--full, .progress[data-progress="13"] .progress__fill {
    transform: rotate(23.4deg);
}
.progress[data-progress="14"] .progress__mask--full, .progress[data-progress="14"] .progress__fill {
    transform: rotate(25.2deg);
}
.progress[data-progress="15"] .progress__mask--full, .progress[data-progress="15"] .progress__fill {
    transform: rotate(27deg);
}
.progress[data-progress="16"] .progress__mask--full, .progress[data-progress="16"] .progress__fill {
    transform: rotate(28.8deg);
}
.progress[data-progress="17"] .progress__mask--full, .progress[data-progress="17"] .progress__fill {
    transform: rotate(30.6deg);
}
.progress[data-progress="18"] .progress__mask--full, .progress[data-progress="18"] .progress__fill {
    transform: rotate(32.4deg);
}
.progress[data-progress="19"] .progress__mask--full, .progress[data-progress="19"] .progress__fill {
    transform: rotate(34.2deg);
}
.progress[data-progress="20"] .progress__mask--full, .progress[data-progress="20"] .progress__fill {
    transform: rotate(36deg);
}
.progress[data-progress="21"] .progress__mask--full, .progress[data-progress="21"] .progress__fill {
    transform: rotate(37.8deg);
}
.progress[data-progress="22"] .progress__mask--full, .progress[data-progress="22"] .progress__fill {
    transform: rotate(39.6deg);
}
.progress[data-progress="23"] .progress__mask--full, .progress[data-progress="23"] .progress__fill {
    transform: rotate(41.4deg);
}
.progress[data-progress="24"] .progress__mask--full, .progress[data-progress="24"] .progress__fill {
    transform: rotate(43.2deg);
}
.progress[data-progress="25"] .progress__mask--full, .progress[data-progress="25"] .progress__fill {
    transform: rotate(45deg);
}
.progress[data-progress="26"] .progress__mask--full, .progress[data-progress="26"] .progress__fill {
    transform: rotate(46.8deg);
}
.progress[data-progress="27"] .progress__mask--full, .progress[data-progress="27"] .progress__fill {
    transform: rotate(48.6deg);
}
.progress[data-progress="28"] .progress__mask--full, .progress[data-progress="28"] .progress__fill {
    transform: rotate(50.4deg);
}
.progress[data-progress="29"] .progress__mask--full, .progress[data-progress="29"] .progress__fill {
    transform: rotate(52.2deg);
}
.progress[data-progress="30"] .progress__mask--full, .progress[data-progress="30"] .progress__fill {
    transform: rotate(54deg);
}
.progress[data-progress="31"] .progress__mask--full, .progress[data-progress="31"] .progress__fill {
    transform: rotate(55.8deg);
}
.progress[data-progress="32"] .progress__mask--full, .progress[data-progress="32"] .progress__fill {
    transform: rotate(57.6deg);
}
.progress[data-progress="33"] .progress__mask--full, .progress[data-progress="33"] .progress__fill {
    transform: rotate(59.4deg);
}
.progress[data-progress="34"] .progress__mask--full, .progress[data-progress="34"] .progress__fill {
    transform: rotate(61.2deg);
}
.progress[data-progress="35"] .progress__mask--full, .progress[data-progress="35"] .progress__fill {
    transform: rotate(63deg);
}
.progress[data-progress="36"] .progress__mask--full, .progress[data-progress="36"] .progress__fill {
    transform: rotate(64.8deg);
}
.progress[data-progress="37"] .progress__mask--full, .progress[data-progress="37"] .progress__fill {
    transform: rotate(66.6deg);
}
.progress[data-progress="38"] .progress__mask--full, .progress[data-progress="38"] .progress__fill {
    transform: rotate(68.4deg);
}
.progress[data-progress="39"] .progress__mask--full, .progress[data-progress="39"] .progress__fill {
    transform: rotate(70.2deg);
}
.progress[data-progress="40"] .progress__mask--full, .progress[data-progress="40"] .progress__fill {
    transform: rotate(72deg);
}
.progress[data-progress="41"] .progress__mask--full, .progress[data-progress="41"] .progress__fill {
    transform: rotate(73.8deg);
}
.progress[data-progress="42"] .progress__mask--full, .progress[data-progress="42"] .progress__fill {
    transform: rotate(75.6deg);
}
.progress[data-progress="43"] .progress__mask--full, .progress[data-progress="43"] .progress__fill {
    transform: rotate(77.4deg);
}
.progress[data-progress="44"] .progress__mask--full, .progress[data-progress="44"] .progress__fill {
    transform: rotate(79.2deg);
}
.progress[data-progress="45"] .progress__mask--full, .progress[data-progress="45"] .progress__fill {
    transform: rotate(81deg);
}
.progress[data-progress="46"] .progress__mask--full, .progress[data-progress="46"] .progress__fill {
    transform: rotate(82.8deg);
}
.progress[data-progress="47"] .progress__mask--full, .progress[data-progress="47"] .progress__fill {
    transform: rotate(84.6deg);
}
.progress[data-progress="48"] .progress__mask--full, .progress[data-progress="48"] .progress__fill {
    transform: rotate(86.4deg);
}
.progress[data-progress="49"] .progress__mask--full, .progress[data-progress="49"] .progress__fill {
    transform: rotate(88.2deg);
}
.progress[data-progress="50"] .progress__mask--full, .progress[data-progress="50"] .progress__fill {
    transform: rotate(90deg);
}
.progress[data-progress="51"] .progress__mask--full, .progress[data-progress="51"] .progress__fill {
    transform: rotate(91.8deg);
}
.progress[data-progress="52"] .progress__mask--full, .progress[data-progress="52"] .progress__fill {
    transform: rotate(93.6deg);
}
.progress[data-progress="53"] .progress__mask--full, .progress[data-progress="53"] .progress__fill {
    transform: rotate(95.4deg);
}
.progress[data-progress="54"] .progress__mask--full, .progress[data-progress="54"] .progress__fill {
    transform: rotate(97.2deg);
}
.progress[data-progress="55"] .progress__mask--full, .progress[data-progress="55"] .progress__fill {
    transform: rotate(99deg);
}
.progress[data-progress="56"] .progress__mask--full, .progress[data-progress="56"] .progress__fill {
    transform: rotate(100.8deg);
}
.progress[data-progress="57"] .progress__mask--full, .progress[data-progress="57"] .progress__fill {
    transform: rotate(102.6deg);
}
.progress[data-progress="58"] .progress__mask--full, .progress[data-progress="58"] .progress__fill {
    transform: rotate(104.4deg);
}
.progress[data-progress="59"] .progress__mask--full, .progress[data-progress="59"] .progress__fill {
    transform: rotate(106.2deg);
}
.progress[data-progress="60"] .progress__mask--full, .progress[data-progress="60"] .progress__fill {
    transform: rotate(108deg);
}
.progress[data-progress="61"] .progress__mask--full, .progress[data-progress="61"] .progress__fill {
    transform: rotate(109.8deg);
}
.progress[data-progress="62"] .progress__mask--full, .progress[data-progress="62"] .progress__fill {
    transform: rotate(111.6deg);
}
.progress[data-progress="63"] .progress__mask--full, .progress[data-progress="63"] .progress__fill {
    transform: rotate(113.4deg);
}
.progress[data-progress="64"] .progress__mask--full, .progress[data-progress="64"] .progress__fill {
    transform: rotate(115.2deg);
}
.progress[data-progress="65"] .progress__mask--full, .progress[data-progress="65"] .progress__fill {
    transform: rotate(117deg);
}
.progress[data-progress="66"] .progress__mask--full, .progress[data-progress="66"] .progress__fill {
    transform: rotate(118.8deg);
}
.progress[data-progress="67"] .progress__mask--full, .progress[data-progress="67"] .progress__fill {
    transform: rotate(120.6deg);
}
.progress[data-progress="68"] .progress__mask--full, .progress[data-progress="68"] .progress__fill {
    transform: rotate(122.4deg);
}
.progress[data-progress="69"] .progress__mask--full, .progress[data-progress="69"] .progress__fill {
    transform: rotate(124.2deg);
}
.progress[data-progress="70"] .progress__mask--full, .progress[data-progress="70"] .progress__fill {
    transform: rotate(126deg);
}
.progress[data-progress="71"] .progress__mask--full, .progress[data-progress="71"] .progress__fill {
    transform: rotate(127.8deg);
}
.progress[data-progress="72"] .progress__mask--full, .progress[data-progress="72"] .progress__fill {
    transform: rotate(129.6deg);
}
.progress[data-progress="73"] .progress__mask--full, .progress[data-progress="73"] .progress__fill {
    transform: rotate(131.4deg);
}
.progress[data-progress="74"] .progress__mask--full, .progress[data-progress="74"] .progress__fill {
    transform: rotate(133.2deg);
}
.progress[data-progress="75"] .progress__mask--full, .progress[data-progress="75"] .progress__fill {
    transform: rotate(135deg);
}
.progress[data-progress="76"] .progress__mask--full, .progress[data-progress="76"] .progress__fill {
    transform: rotate(136.8deg);
}
.progress[data-progress="77"] .progress__mask--full, .progress[data-progress="77"] .progress__fill {
    transform: rotate(138.6deg);
}
.progress[data-progress="78"] .progress__mask--full, .progress[data-progress="78"] .progress__fill {
    transform: rotate(140.4deg);
}
.progress[data-progress="79"] .progress__mask--full, .progress[data-progress="79"] .progress__fill {
    transform: rotate(142.2deg);
}
.progress[data-progress="80"] .progress__mask--full, .progress[data-progress="80"] .progress__fill {
    transform: rotate(144deg);
}
.progress[data-progress="81"] .progress__mask--full, .progress[data-progress="81"] .progress__fill {
    transform: rotate(145.8deg);
}
.progress[data-progress="82"] .progress__mask--full, .progress[data-progress="82"] .progress__fill {
    transform: rotate(147.6deg);
}
.progress[data-progress="83"] .progress__mask--full, .progress[data-progress="83"] .progress__fill {
    transform: rotate(149.4deg);
}
.progress[data-progress="84"] .progress__mask--full, .progress[data-progress="84"] .progress__fill {
    transform: rotate(151.2deg);
}
.progress[data-progress="85"] .progress__mask--full, .progress[data-progress="85"] .progress__fill {
    transform: rotate(153deg);
}
.progress[data-progress="86"] .progress__mask--full, .progress[data-progress="86"] .progress__fill {
    transform: rotate(154.8deg);
}
.progress[data-progress="87"] .progress__mask--full, .progress[data-progress="87"] .progress__fill {
    transform: rotate(156.6deg);
}
.progress[data-progress="88"] .progress__mask--full, .progress[data-progress="88"] .progress__fill {
    transform: rotate(158.4deg);
}
.progress[data-progress="89"] .progress__mask--full, .progress[data-progress="89"] .progress__fill {
    transform: rotate(160.2deg);
}
.progress[data-progress="90"] .progress__mask--full, .progress[data-progress="90"] .progress__fill {
    transform: rotate(162deg);
}
.progress[data-progress="91"] .progress__mask--full, .progress[data-progress="91"] .progress__fill {
    transform: rotate(163.8deg);
}
.progress[data-progress="92"] .progress__mask--full, .progress[data-progress="92"] .progress__fill {
    transform: rotate(165.6deg);
}
.progress[data-progress="93"] .progress__mask--full, .progress[data-progress="93"] .progress__fill {
    transform: rotate(167.4deg);
}
.progress[data-progress="94"] .progress__mask--full, .progress[data-progress="94"] .progress__fill {
    transform: rotate(169.2deg);
}
.progress[data-progress="95"] .progress__mask--full, .progress[data-progress="95"] .progress__fill {
    transform: rotate(171deg);
}
.progress[data-progress="96"] .progress__mask--full, .progress[data-progress="96"] .progress__fill {
    transform: rotate(172.8deg);
}
.progress[data-progress="97"] .progress__mask--full, .progress[data-progress="97"] .progress__fill {
    transform: rotate(174.6deg);
}
.progress[data-progress="98"] .progress__mask--full, .progress[data-progress="98"] .progress__fill {
    transform: rotate(176.4deg);
}
.progress[data-progress="99"] .progress__mask--full, .progress[data-progress="99"] .progress__fill {
    transform: rotate(178.2deg);
}
.progress[data-progress="100"] .progress__mask--full, .progress[data-progress="100"] .progress__fill {
    transform: rotate(180deg);
}

/* Projects */

.projects {
    background-image: url("assets/img/BackgroundProjects.jpg");
    background-color: var(--grisOscuro);
    background-size: cover;
}

.projectsCover {
    background: rgb(20,20,20);
    background: linear-gradient(180deg, rgba(20,20,20,1) 10%, rgba(20,20,20,.7) 30%, rgba(20,20,20,.1) 50%, rgba(20,20,20,.7) 70%, rgba(20,20,20,1) 100%);
}

.titleProjects {
    width: 70%;
    margin: auto;
    text-align: left;
}

.titleProjects h2 {
    color: rgba(255, 255, 255, .1);
    font-size: 13em;
    font-family: aileron, sans-serif;
    font-weight: 800;
}

.titleProjects h3 {
    color: #fff;
    position: relative;
    top: -115px;
    left: 120px;
    font-size: 2em;
}

.titleProjects hr {
    position: relative;
    left: 121px;
}

/* .projectsContainer {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 950px;
    overflow-x: hidden;
}

.projectsContainer input {
    position: relative;
    bottom: 0;
    left: 50%;
}

.projectCard {
    background: rgba(255, 255, 255, .3);
    height: 550px;
    width: 250px;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    border: solid 1px rgba(255, 255, 255, .2);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .1);
    margin: 30px;
    padding: 50px 80px;
    text-align: center;
}

.projectsContainer img {
    --diameter2: 200px;
    width: var(--diameter2);
    height: var(--diameter2);
    border-radius: 50%;
} */