.editExp-background {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
}

.editExp-box form {
    padding-top: 50px;
}

.editExp-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    padding: 60px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.editExp-box h2 {
    margin: 0 30px 15px 30px;
    color: #fff;
    text-align: center;
    font-size: 2vw;
}

.editExp-box .editExpInput-box {
    position: relative;
}

.editExp-box .editExpInput-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.editExp-box .editExpInput-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 22px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.editExp-box .editExpInput-box input:focus ~ label,
.editExp-box .editExpInput-box input:valid ~ label {
    top: -24px;
    left: 0;
    color: var(--celeste);
    font-size: 18px;
}

.editExp-box button {
    position: relative;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    padding: 15px 20px;
    color: var(--celeste);
    background: transparent;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
}

.editExp-box button:hover {
    background-color: var(--celeste);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--celeste),
                0 0 25px var(--celeste),
                0 0 50px var(--celeste),
                0 0 100px var(--celeste);
}

.editExp-box button span {
    position: absolute;
    display: block;
}

.editExp-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--celeste));
    animation: btn-anim1 1s linear infinite;
}

.signUpText {
    text-align: center;
    color: lightslategray;
    padding-top: 50px;
    font-size: 15px;
}

.signUpText a {
    color: var(--celeste);
    padding-left: 15px;
    font-size: 15px;
}

@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}

.editExp-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--celeste));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}

.editExp-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--celeste));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}

.editExp-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--celeste));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}

/* Default screen size (1440-1024) */

@media all and (min-width: 1024px) and (max-width: 1440px) {
    
    
}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

   
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    
 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    
 }
  
  