li {
    list-style: none;
}

.workButtons {
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.workButtons img{
    height: 20px;
    cursor: pointer;
}

.workButtons button {
    height: 40px;
    width: 40px;
    background: transparent;
    cursor: pointer;
    border: none;
    margin: 0 5px;
}

.workButtons button:hover {
    transition: .2s ease-in;
    transform: scale(1.2);
}

.buttonAdd {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    position: absolute;
    right: 170px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonAdd:hover {
    transition: .2s ease-in;
    transform: scale(1.2);
}

.buttonAdd img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.containerWork {
    overflow: hidden;
    height: 350px;
    width: 500px;
    position: relative;
    margin: 10px;
    border: none;
}

.imgWork {
    background-size: cover;
    width: 100%;
    height: 110%;
    transition: all .5s ease;
    position: relative;
    z-index: 1;
}

.divWorks {
    padding: 110px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hoverContainer {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .6s ease;
    opacity: 0;
    width: 100%;
}
  
.containerWork:hover .hoverContainer {
    z-index: 1;
    opacity: 1;
}

.t-stroke {
    -webkit-text-stroke: 3px #db7b93a4;
    color: transparent;
    font-size: 5vw;
    font-family: aileron, sans-serif;
    font-weight: 800;
    position: relative;
    top: 5px;
    left: 0;
}

.t-stroke span {
    -webkit-text-stroke: 3px var(--rosaClaro);
    font-family: aileron, sans-serif;
    position: absolute;
    left: -3px;
    top: -3px;
}

.textContainerWork {
    padding: 20px 30px;
}

.textContainerWork h4 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 2vw;
    font-weight: 200;
    margin-bottom: .5vw;
}

.textContainerWork h5 {
    color: var(--celeste);
    font-size: .9vw;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

.textContainerWork h6 {
    color: #fff;
    width: 70%;
    font-size: medium;
    font-weight: 300;
    padding-bottom: 4px;
}


/* Default screen size (1440-1024) */

@media all and (min-width: 1024px) and (max-width: 1440px) {

    .buttonAdd {
        margin-top: 12px;
        width: 50px;
        height: 50px;
        right: 210px;
    }

    .buttonAdd img {
        width: 23px;
        height: 23px;
    }

    .textContainerWork {
        padding: 30px 40px;
    }

    .textContainerWork h4 {
        font-size: 2.2vw;
    }

    .textContainerWork h5  {
        font-size: 1vw;
        margin-bottom: 15px;
    }

    .t-stroke {
        font-size: 5.5vw;
    } 
}

@media all and (min-width: 950px) and (max-width: 1280px) {
    
    .buttonAdd {
        margin-top: 15px;
        right: 125px;
    }

}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .buttonAdd {
        margin-top: 15px;
        width: 45px;
        height: 45px;
        right: 130px;
    }

    .buttonAdd img {
        width: 20px;
        height: 20px;
    }
    
    .containerWork {
        height: 520px;
        width: 750px;
    }

    .textContainerWork {
        padding: 30px 40px;
    }

    .textContainerWork h4 {
        font-size: 4vw;
    }

    .textContainerWork h5  {
        font-size: 1.8vw;
        margin-bottom: 12px;
    }

    .t-stroke {
        font-size: 10vw;
    }
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .buttonAdd {
        margin-top: 30px;
        width: 40px;
        height: 40px;
        right: 90px;
    }

    .buttonAdd img {
        width: 17px;
        height: 17px;
    }
    
    .containerWork {
        height: 420px;
        width: 580px;
    }

    .textContainerWork {
        padding: 30px 40px;
    }

    .textContainerWork h4 {
        font-size: 35px;
    }

    .textContainerWork h5  {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .t-stroke {
        font-size: 12vw;
    }
 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    .buttonAdd {
        width: 25px;
        height: 25px;
        right: 50px;
        bottom: 1210px;
    }

    .buttonAdd img {
        width: 11px;
        height: 11px;
    }
    
    .divWorks {
        padding: 20px 40px;
    }

    .containerWork {
        height: 200px;
        width: 380px;
    }

    .textContainerWork {
        padding: 10px 20px;
    }

    .textContainerWork h4 {
        font-size: 15px;
    }

    .textContainerWork h5  {
        font-size: 8px;
        margin-bottom: 5px;
    }

    .textContainerWork h6 {
        color: #fff;
        width: 70%;
        font-size: 10px;
        font-weight: 300;
    }

    .t-stroke {
        font-size: 12vw;
    }

    .textContainerWork li {
        font-size: 2vw;
    }
    
    .workButtons img{
        height: 15px;
        cursor: pointer;
    }
    
    .workButtons button {
        height: 25px;
        width: 25px;
    }
 }