<div class="containerWorks">
    <button class="buttonAdd" type="button" routerLink="/nuevaexp" *ngIf="isLoggedIn"><img src="../../../assets/icons/plus-solid.svg" alt="Botón agregar"></button>
    <div class="divWorks">
        <div class="containerWork" *ngFor="let Works of works">
                <img [src]="Works.imgExp" class="imgWork">
                <div class="hoverContainer">
                    <ul class="textContainerWork">
                        <li><h3 class="t-stroke">{{Works.nombreE}}<span>{{Works.nombreE}}</span></h3></li>
                        <li><h4>{{Works.puesto}}</h4></li>
                        <li><h5>{{Works.fechaExp}}</h5></li>
                        <li><h6>{{Works.descExp}}</h6></li>
                    </ul>
                    <div class="workButtons" *ngIf="isLoggedIn">
                        <button class="buttonEdit"><img src="../../../assets/icons/pen-solid.svg" alt="Botón editar" routerLink="/editexp/{{Works.id}}"></button> 
                        <button class="buttonDelete"><img src="../../../assets/icons/trash-solid.svg" alt="Botón borrar" (click)="delete(Works.id)"></button> 
                    </div>
               </div>
        </div>
    </div>
    
</div>
