.containerWork {
    overflow: hidden;
    height: 350px;
    width: 500px;
    position: relative;
    margin: 10px;
}

.imgWork {
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    position: relative;
    z-index: 1;
}

.divWorks {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.textContainerWork {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 20px 30px;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .6s ease;
    opacity: 0;
    width: 100%;
}
  
.containerWork:hover .textContainerWork {
    z-index: 1;
    opacity: 1;
}

.t-stroke {
    -webkit-text-stroke: 3px #db7b93a4;
    color: transparent;
    font-size: 5vw;
    font-family: aileron, sans-serif;
    font-weight: 800;
    position: relative;
    top: 5px;
    left: 0;
}

.t-stroke span {
    -webkit-text-stroke: 3px var(--rosaClaro);
    font-family: aileron, sans-serif;
    position: absolute;
    left: -3px;
    top: -3px;
}

.textContainerWork h4 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 2vw;
    font-weight: 200;
    margin-bottom: .5vw;
}

.textContainerWork h5 {
    color: var(--celeste);
    font-size: .9vw;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

.textContainerWork li {
    color: #fff;
    list-style-type: none;
    padding-bottom: 4px;
}


/* Default screen size (1440-1024) */

@media all and (min-width: 1024px) and (max-width: 1440px) {

    .textContainerWork {
        padding: 30px 40px;
    }

    .textContainerWork h4 {
        font-size: 2.2vw;
    }

    .textContainerWork h5  {
        font-size: 1vw;
        margin-bottom: 15px;
    }

    .t-stroke {
        font-size: 5.5vw;
    } 
}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .containerWork {
        height: 520px;
        width: 750px;
    }

    .textContainerWork {
        padding: 30px 40px;
    }

    .textContainerWork h4 {
        font-size: 4vw;
    }

    .textContainerWork h5  {
        font-size: 1.8vw;
        margin-bottom: 12px;
    }

    .t-stroke {
        font-size: 10vw;
    }
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .containerWork {
        height: 420px;
        width: 580px;
    }

    .textContainerWork {
        padding: 30px 40px;
    }

    .textContainerWork h4 {
        font-size: 4vw;
    }

    .textContainerWork h5  {
        font-size: 1.8vw;
        margin-bottom: 12px;
    }

    .t-stroke {
        font-size: 12vw;
    }
 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    .divWorks {
        padding: 0 40px;
    }

    .containerWork {
        height: 200px;
        width: 380px;
    }

    .textContainerWork {
        padding: 10px 20px;
    }

    .textContainerWork h4 {
        font-size: 4vw;
    }

    .textContainerWork h5  {
        font-size: 1.8vw;
        margin-bottom: 12px;
    }

    .t-stroke {
        font-size: 12vw;
    }

    .textContainerWork li {
        font-size: 2vw;
    }
 }