<div class="divWorks">
    <div class="containerWork">
        <img src="../assets/img/O'chaMockup.jpg" alt="O'cha Mockup" class="imgWork">
       <div class="textContainerWork">
            <h3 class="t-stroke">O'cha<span>O'cha</span></h3>
            <h4>Freelancer</h4>
            <h5>Abr 2020</h5>
            <ul>
                <li>Tarjeta de invitación</li>
            </ul>
       </div> 
    </div>
    <div class="containerWork">
        <img src="../../../assets/img/CraftingBusinessCard.jpg" alt="Tarjetas Crafting" class="imgWork">
        <div class="textContainerWork">
            <h3 class="t-stroke">Crafting<span>Crafting</span></h3>
            <h4>Freelancer</h4>
            <h5>Abr 2020 - Presente</h5>
            <ul>
                <li>Diseño de marca</li>
                <li>diseño y modelado 3D</li>
                <li>Fotografía</li>
                <li>diseño y administración de redes sociales</li>
            </ul>
        </div> 
    </div>
    <div class="containerWork">
        <img src="../assets/img/FPfixLogoMockup.jpg" alt="Logo FPFIX" class="imgWork">
        <div class="textContainerWork">
            <h3 class="t-stroke">FPFIX<span>FPFIX</span></h3>
            <h4>Freelancer</h4>
            <h5>Oct 2021 - Nov 2021</h5>
            <ul>
                <li>Diseño de logo</li>
                <li>Diseño de papelería</li>
                <li>Diseño de redes sociales</li>
            </ul>
        </div>
    </div>
    <div class="containerWork">
        <img src="../assets/img/DiseñoWebMR.jpg" alt="MRconstrucciones Diseño Web" class="imgWork">
        <div class="textContainerWork">
            <h3 class="t-stroke">MRcons<span>MRcons</span></h3>
            <h4>Freelancer</h4>
            <h5>Oct 2021 - Presente</h5>
            <ul>
                <li>Diseño de logo</li>
                <li>Diseño de papelería</li>
                <li>Diseño y desarrollo web</li>
            </ul>
        </div>
    </div>
    <div class="containerWork">
        <img src="../../../assets/img/CatalogoAlBordeLlama.jpg" alt="Catálogo Al Borde Llama" class="imgWork">
       <div class="textContainerWork">
            <h3 class="t-stroke">ABL<span>ABL</span></h3>
            <h4>Freelancer</h4>
            <h5>Ago 2021</h5>
            <ul>
                <li>Diseño de catálogo</li>
            </ul>
       </div> 
    </div> 
</div>
