.education {
    background-image: url("../../../assets/img/BackgroundEducation.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.educationCover {
    background: rgba(19, 19, 19, 0.5);
    padding-top: 120px;
}

.titleEducation {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleEducation h3 {
    position: relative;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 3vw;
    color: whitesmoke;
    z-index: 2;
}

.titleEducation h3::before {
    content: '';
    width: 17vw;
    height: 1.4vw;
    position: absolute;
    bottom: 2px;
    left: 2px;
    background: var(--celeste);
    transition: all .5s ease-in-out;
    z-index: -1; 
}

@media (hover: hover) {

    .titleEducation h3:hover::before {
        height: 2.9vw;
    }
}

.titleEducation span{
    background: linear-gradient(120deg, var(--celeste) 20.69%, rgb(95, 157, 194) 79.69%);
    margin: auto;
    margin-bottom: .2vw;
    font-size: 2vw;
    font-weight: 600;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}