.skills {
    background: var(--grisOscuro);
    padding: 20px 0 80px 0;
    -webkit-box-shadow: 0px 4px 65px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 65px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 65px 10px rgba(0,0,0,0.75);
}

.titleSkills {
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

.titleSkills h2 {
    color: var(--grisMedio);
    font-size: 14vw;
    font-family: aileron, sans-serif;
    font-weight: 800;
}

.titleSkills h3 {
    color: #fff;
    position: relative;
    bottom: 8vw;
    left: 7vw;
    width: 24vw;
    font-size: 2vw;
    letter-spacing: 1px;
    z-index: 2;
}

.titleSkills h3::before {
    content: '';
    width: 11.8vw;
    height: .9vw;
    position: absolute;
    bottom: 2px;
    left: 1px;
    background: var(--celeste);
    transition: all .5s ease-in-out;
    z-index: -1;
}

@media (hover: hover) {

    .titleSkills h3:hover::before {
        height: 2vw;
        position: absolute;
    }
}

/* Default screen size (1440-1024) */

@media all and (min-width: 1024px) and (max-width: 1440px) {
    
    .titleSkills h3 {
        width: 25vw;
    }

    .titleSkills h3::before {
        width: 12vw;
        bottom: 1px;
        left: 0;
    }
}

/* Landscape tablet size (1024-768) */

@media all and (min-width: 768px) and (max-width: 1024px)  {

    .titleSkills h3 {
        width: 26vw;
    }

    .titleSkills h3::before {
        width: 12.1vw;
        bottom: 1px;
        left: 1px;
    }
}

 /* Tablet size (768-480) */

 @media all and (min-width: 480px) and (max-width: 768px) { 

    .titleSkills h3::before {
        width: 12.5vw;
        bottom: 0;
        left: 0;
    }

    .titleSkills {
        padding-top: 40px;
    }
 }
  
 /* Phone size (480-menos ) */

 @media all and (max-width: 480px) { 

    .titleSkills h2 {
        font-size: 16vw;
    }

    .titleSkills h3 {
        width: 30vw;
        font-size: 2.1vw;
        bottom: 9vw;
    }

    .titleSkills h3::before {
        width: 14.5vw;
        bottom: 0;
        left: 0;
    }

    .titleSkills {
        padding-top: 20px;
    }
 }