@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --hueso: #f7f6f5;
    --rosa: #d88da0;
    --rosaClaro: #f1d1d1;
    --grisOscuro: #141414;
    --grisMedio: #2c2c2c;
    --celeste: #80bdbb;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    scrollbar-color: rgba(0,0,0,.2);
    cursor: default;
}

*::-webkit-scrollbar {
    width: .6vw;
  }
  
*::-webkit-scrollbar-thumb {        
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
  }

body {
    background: #fff;
    overflow: overlay;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}

hr {
    background: var(--rosa);
    height: 3px;
    border: 0;
    width: 40px;
    position: relative;
    top: -115px;
    left: 122px;
}