#contentPDF {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    padding: 40px;
}

.bodyContent {
    display: flex;
    border: 1px solid black;
    margin: 20px auto;
    border-radius: 30px;
    width: 90%;
    position: relative;
    left: 0;
}

.about {
    display: flex;
    align-items: center;
    padding: 90px 90px 50px 90px;
}

.aboutContent {
    width: 50%;
    margin: 40px;
}

.aboutContent h2 {
    font-size: 45px;
}

.aboutContent h4 {
    margin-top: 8px;
}

.aboutContent h5 {
    margin-top: 8px;
}


h2 {
    margin: 10px 0;
    font-size: 30px;
    color: #12113d;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    color: #292727;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    color: #3d3d3d;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 400;
}

div {
    width: 100%;
    padding: 5px;
}

img {
    position: relative;
    margin-top: 40px;
    border-radius: 50%;
}

li {
    margin-left: 20px;
}

